:root {
    --color1: #00363a;
    --color2: #006064;
    --color3: rgba(0, 0, 0, 0.2);
    --color4: transparent;
    --zButtonColor: rgba(255, 255, 255, 0.6);
    --zButtonBorderColor: rgba(255, 255, 255, 0.6);
}