<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Add New Product</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://onucyirmibir.com/ultimate-z/z.css" />
    <script src="https://onucyirmibir.com/ultimate-z/z.js"></script>
    <link rel="stylesheet" href="static/styles.css" />
</head>

<body class="fullScr back1 centerText">
    <div class="hollyMid horMid" style="max-width: 800px">
        <form class="zForm" method="POST">
            <div class="pad-25">
                <a class="zButton back2 zHov-back1 thinText rad-10 font-20" href="/">Home</a>
            </div>
            <div class="padT-30 padB-10 padLR-30 text2">
                <input type="text" name="url" class="rad-10" placeholder="Enter the product URL"></input>
            </div>
            <div class="pad-30">
                <button type="submit" class="zButton back2 zHov-back1 thinText rad-10 font-20">Add Product</button>
            </div>
            {% if message %}
            <div class="pad-30 whiteText">{{ message }}</div>
            {% endif %}
        </form>
    </div>
</body>

</html>