<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Product Viewer</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://onucyirmibir.com/ultimate-z/z.css" />
    <script src="https://onucyirmibir.com/ultimate-z/z.js"></script>
    <link rel="stylesheet" href="static/styles.css" />
</head>

<body class="fullScr back1 centerText">
    <div class="hollyMid">
        <div class="pad-25 whiteText">
            <h1 style="margin:0">Product Viewer</h1>
        </div>
        <div class="pad-25">
            <a class="zButton back2 zHov-back4 thinText rad-10 font-20" href="add_product">Add New Product</a>
        </div>
        <div class="pad-25">
            <a class="zButton back2 zHov-back4 thinText rad-10 font-20" href="products">Display Products</a>
        </div>
    </div>
</body>

</html>