<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Product Viewer</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet"> 
        <script src="static/jquery-3.6.0.min.js"></script> 
        <link rel="stylesheet" href="static/ultimate z/z.css" />
        <link rel="stylesheet" href="static/styles.css" />
        <script src="static/ultimate z/z.js"></script>
    </head>
    <body class="fullScr font0 back3 centerText">
        <div class="hollyMid fontFix">
            <div class="pad-25">
                <a class="zButton back4 zHov-back3 thinText rad-10 font-20" href="add_product">Add New Product</a>
            </div>
            <div class="pad-25">
                <a class="zButton back4 zHov-back3 thinText rad-10 font-20">Display Products</a>
            </div>
        </div>
    </body>
</html>