<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Add New Product</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://onucyirmibir.com/ultimate-z/z.css" />
    <script src="https://onucyirmibir.com/ultimate-z/z.js"></script>
    <link rel="stylesheet" href="static/styles.css" />
</head>

<body class="back1 centerText">
    <div class="horMid" style="max-width: 800px">
        <div class="pad-30">
            <div class="right-20" style="display: inline-block;"><a class="zButton back2 zHov-back4 thinText rad-10 font-20" href="/">Home</a></div>
            <div style="display: inline-block;">
                <form method="POST">
                    <div style="display: none;">
                        <input value="delete_all" name="action" />
                    </div>
                    <button type="submit" class="zButton back2 zHov-back4 thinText rad-10 font-20">Delete All</button>
                </form>
            </div>
        </div>
        <div class="pad-30 whiteText">
            {% if not products %}
            There are currently no products stored in the database.
            {% endif %}
            {% for p in products %}
            <div class="col-12 font0 back3 rad-20 bottom-20">
                <div class="col-3 pad-20">
                    <img src="{{ p[2] }}" class="col-12 rad-10" />
                </div>
                <div class="col-6 colTop padTB-20 zMob-padLR-20 leftText">
                    <div class="bottom-15">ID: {{ p[0] }}</div>
                    <div class="bottom-15">Name: {{ p[1] }}</div>
                    <div>Price: £{{ p[3] }}</div>
                </div>
                <div class="col-3 colBottom rightText pad-20">
                    <form method="POST">
                        <span style="display: none;">
                            <input value="delete" name="action" />
                            <input value="{{ p[0] }}" name="product_id" />
                        </span>
                        <button type="submit" class="zButton back2 zHov-back4 thinText rad-10 font-20">Delete</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>